.datatable-custom td span.new {
     max-width: 400px;
    display: block;
    overflow: hidden;
}

.note-editor.note-airframe.fullscreen, .note-editor.note-frame.fullscreen {
    background-color: white !important;
}